@tailwind base;
@tailwind components;
@tailwind utilities;

  @font-face {
    font-family: 'gamegirl';
    src: url('../public/gamegirl.ttf');
    font-weight: 400;
    font-style: normal;
  }

* {
  font-family: 'gamegirl', serif;
}