@tailwind base;
@tailwind components;
@tailwind utilities;

  @font-face {
    font-family: 'GameGirl';
    src: url('../public/GameGirl.ttf');
    font-weight: 400;
    font-style: normal;
  }

* {
  font-family: 'GameGirl', serif;
}